<md-dialog id="create-page" ng-controller="CreateController as ctrl" ng-cloak style="mjn-width: 50%">

  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create a lunch</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon md-font-icon="fa-times" class="fa fa-lg" style="color: white" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

  <md-dialog-content>
    <p>
      <strong>Awesome!</strong>
      Chuck in a few vital bits of info, and we'll start finding you some mates
      to head out with for a bite to eat!
    </p>

    <md-input-container style="padding-bottom: 0;">
      <md-autocomplete flex required
            md-input-name="autocompleteField"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-search-text="ctrl.searchText"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.name"
            md-floating-label="Where are we headed?">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
    </md-input-container>
    <md-input-container>
      <md-datepicker ng-model="lunch.date" md-placeholder="Choose when" style="width:50%"></md-datepicker>
    </md-input-container>

    <md-content class="location-container" >
      <md-input-container>
        <label>What's the address?</label>
        <input ng-model="lunch.address" id="pac-input" placeholder="Search for address">
      </md-input-container>
      <map center="-37.782, 175.352" zoom="15"></map>
    </md-content>
<br/>
    <md-checkbox ng-model="data.cb1" aria-label="Have a vehicle?">
      Check this if you can provide transport.
    </md-checkbox>

    <md-button class="md-raised md-primary">
      <md-icon md-font-icon="fa-check" class="fa fa-lg"></md-icon>
      Create lunch
    </md-button>

  </md-dialog-content>

</md-dialog>
